body {
    background-image: url('BEUTIFULLL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-x: clip !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

i.fas {
    color: #f4f3e6; 
    font-size: 24px; 
}

li {
    display: inline-block;
    position: relative;
    color: #f4f3e6;
    font-family: sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s all ease;
}

li:hover{
    color: #cdcdcd;
    transition: 0.3s all ease;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f7ad19;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hidden {
    display: none;
}

.section-listado-conductores {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px; 
}

.listado-conductores {
    background-color: rgba(15, 44, 71, 0.849); 
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
    border-spacing: 0;
    text-align: left;
}

.listado-conductores th {
    color: #f4f3e6; 
    padding: 10px 35px;
    text-align: left;
    font-family: "Noto Sans", sans-serif;
    border-bottom: 2px solid #f4f3e6; 
}

.listado-conductores td { 
    padding: 10px 15px; 
    color: #f4f3e6;
    font-family: "Noto Sans", sans-serif;
    border-bottom: 1px solid #f5f5f5;
}

.listado-conductores tr:last-child td {
    border-bottom: none;
}

.titulo-conductores {
    text-align: center;
    margin-top: 400px;
}

#formulario {
    background-color: rgba(1, 27, 48, 0.596); 
    border-radius: 15px; 
    max-width: 440px; 
    margin: 0 auto; 
    padding: 40px; 
    height: 540px;
    color: #f4f3e6;
    font-family: "Noto Sans", sans-serif;
}

#formulario input[type="submit"] {
    width: 95%; 
    padding: 10px 0; 
    background-color: #0768bd;
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    font-size: 17px; 
    cursor: pointer; 
    margin-top: -20px; 
}

#formulario input[type="submit"]:hover {
    background-color: #075599; 
    transition: background-color 0.3s ease; 
}

input[type="text"],
input[type="date"] {
 background: transparent; 
 border: none; 
 border-bottom: 2px solid #f4f3e6; 
 border-radius: 0; 
 padding: 0.5rem; 
 color: #f4f3e6; 
 width: 89%;
 padding: 3px;
 margin-bottom: 15px; 
 font-size: 14px; 
 height: 39px;
}

input[type="text"]:focus,
input[type="date"]:focus {
 outline: none; 
 border-bottom: 2px solid #f7ad19; 
}   

.alerta {
    padding: 5px;
    margin-top: 8px;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    width: 90%;
    max-width: 400px; 
    margin-left: 0px; 
    margin-right: auto; 
}
  
header {
    top: 0;
    width: 100%;
} 

li.active {
    color: #f7ad19; 
}

li.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-center {
   margin-top: 20px; 
}
  
.label-text {
   font-family: "Noto Sans", sans-serif;
   font-weight: bold;
   color: #f4f3e6;
   font-size: 14px;
   margin-left: 60px;
} 
  
.select-box {
   background-color: #0768bd;
   border: 1px solid #0768bd;
   border-radius: 4px;
   padding: 8px;
   font-size: 14px;
   color: #f4f3e6;
}

.select-box:hover{
    background-color: #075599; 
    transition: background-color 0.3s ease; 
  }
  
.titulo-gestion {
    text-align: center;   
    color: #f4f3e6;    
    font-family: "Noto Sans", sans-serif;
    clear: both; 
}
  
.elemento1-derecha {
 text-align: right;
 margin-top: -45px;
}

.elemento1-derecha a {
    font-family: "Noto Sans", sans-serif;
}

.elemento2-centro{
   margin-left: 0;
   text-align: center;
}

.elemento2-centro ul li {
    display: inline-block;
    margin-right: 10px; 
}

.principal{
    margin-left: 120px;
    margin-bottom: -25px;
}

#bandejaNotificaciones {
    position: absolute; 
    top: 100%;
    left: 0; 
    width: 300px; 
    background-color: rgba(11, 25, 87, 0.5); 
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.37);
    border: 1px solid rgba(255,255,255, 0.18);
    z-index: 1000; 
    padding: 10px;
    border-radius: 8px;
    color: #f4f3e6;
    font-family: "Noto Sans", sans-serif;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    display: none; 
}

#bandejaNotificaciones.visible {
    display: block; 
    opacity: 1; 
    transform: translateY(0); 
}

#iconoNotificaciones {
    cursor: pointer;
}

#bandejaNotificaciones.active {
    display: block;
}

.badge {
    position: absolute;
    top: 0%;
    left: 0; 
    background-color: #f7ad19;
    color: rgb(77, 108, 248);
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 4px;
    z-index: 1000;
}

.badge.hidden {
    display: none;
}

.boton-lindo {
 position: relative;
 display: inline-block;
 padding: 10px 20px;
 font-size: 16px;
 color: white;
 background-color: transparent; 
}
  
.boton-lindo::after {
 content: '';
 position: absolute;
 left: 52%;
 transform: translateX(-50%);
 bottom: 1px; 
 width: 100%;
 height: 40px; 
 background-color:#0768bd; 
 border-radius: 20px; 
 z-index: -1; 
 transition: background-color 0.3s ease; 
}

.boton-lindo:hover::after {
    background-color: #075599; 
}

#formAccidentes {
    background-color: rgba(1, 27, 48, 0.596); 
    border-radius: 15px; 
    max-width: 440px; 
    margin: 0 auto; 
    padding: 40px; 
    height: 540px;
    color: #f4f3e6;
    font-family: "Noto Sans", sans-serif;
}

#formAccidentes input[type="text"],
#formAccidentes input[type="date"],
#formAccidentes input[type="number"],
#formAccidentes textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid #f4f3e6;
    border-radius: 0;
    padding: 0.5rem;
    color:#f4f3e6;
    width: 89%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    height: 39px;
    resize: none;
}

#formAccidentes input[type="text"]:focus,
#formAccidentes input[type="date"]:focus,
#formAccidentes input[type="number"]:focus,
#formAccidentes textarea:focus {
    outline: none;
    border-bottom: 2px solid #f7ad19;
}

#formAccidentes button {
    width: 95%; 
    padding: 10px 0; 
    background-color: #0768bd;
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    font-size: 17px; 
    cursor: pointer; 
    margin-top: -20px; 
}

#formAccidentes button:hover {
    background-color: #075599; 
    transition: background-color 0.3s ease; 
}

#listadoAccidentes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.titulo-accidentes2{
    text-align: center;
    margin-top: 400px;
}

.card {
    background-color: rgba(1, 27, 48, 0.582);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #f4f3e6;
}


.card h3 {
    color: #f7ad19;
    margin-bottom: 10px;
}

.accidente-table {
    width: 100%;
    border-collapse: collapse;
}

.accidente-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.description {
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
}

.titulo-accidentes {
    text-align: center;
    color: #f4f3e6;
    font-family: "Noto Sans", sans-serif;
}


.bg-red-700{
    color: #a33926;
}

.text-red-600 {
    color: #ff8383; 
}
  
.text-green-100{
 color: #0a3624
}
      
.bg-green-700{
 color:#dcdd7e;
 background-color: #245f37;
}

.text-crema-500 {
    color: #fffde8; 
}
  
.hover\:text-crema-500:hover {
     color: #f4f3e6; 
}

.text-crema {
    color: #f4f3e6; 
    font-family: "Noto Sans", sans-serif;
}

